# Developing
Werkzeug==0.15.3
django-debug-toolbar==1.11
django-extensions==2.1.6

six==1.12.0

# Testing
mock==3.0.4
django-nose==1.4.6
spec==1.4.1
coverage==4.5.3
django-dynamic-fixture==2.0.0
freezegun==0.3.11
Babel==2.6.0
django-localflavor==2.1


pytest
pytest-cov
pytest-django
pytest-flakes
pytest-pep8
pytest-sugar

isort
tox
